
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to PizzApp</title>
</head>
<body>
    <h1>PizzApp</h1>
    <h3>The best app for ordering Pizza</h3>
    <button>Click Here To Order</button>
</body>
</html>
