@model List<string>

@{
    Layout = "_Layout";
}

    <ul>
        @*@foreach (var pizza in ViewBag.Pizzas)
        {
            <li>@pizza</li>
        }*@
        @*@foreach (var pizza in (IEnumerable<string>)ViewData["pizzas"])
        {
            <li>@pizza</li>
        }*@
        @foreach (var pizza in Model)
        {
            <li>@pizza</li>
        }
    </ul>

 @*@{
        var pizzas = new List<string>
    {
    "capri", "tuna","margarita","pepperoni"
    };
    }*@
    @*@functions {
            public List<string>
        GetAllPizzas()
        {
        return new List<string>
            {
            "capri", "tuna","margarita","pepperoni"
            };
            }
            }*@
