
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h1>Contact us at:</h1>
    <h3>hello@pizzapp.com</h3>
</body>
</html>
