@model SEDC.App.Models.DomainModels.Pizza

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Promotion</title>
</head>
<body>
    <h1>Today's Promotion</h1>
    <p>Pizza @Model.Name (@Model.Size) - @Model.Price$</p>
</body>
</html>
