@model List<ViewModels.IngredientViewModel>
@{
    ViewData["Title"] = "All Ingredients";
}

<h2>ListAllIngredients</h2>

<ul>

    @foreach (var ingredient in Model)
    {
        <li>
            @ingredient.Name
            @if (ingredient.Allergens.Any())
            {
                <span>[Allergens: </span>
                foreach (var allergen in ingredient.Allergens)
                {
                    @allergen
                }
                <span>]</span>
            }
        </li>

    }


</ul>

