@{ 
    ViewBag.Title = "About Us";
}
<div class="jumbotron">
    <h1>About Us</h1>
    <p>We are the best company and have 1000 employees around the world!</p>
    <button class="btn btn-danger btn-lg">@Html.ActionLink("Feedback", "Feedback", "Home")</button>
</div>
