@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Contact</h1>
    <p>Please contact us at:</p>
    <p>Phone: 08004534545</p>
    <p>Mail: hello@pizzapp.com</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Feedback</a></p>
</div>
