@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Contact</h1>
    <p>Please contact us at:</p>
    <p>Phone: 08004534545</p>
    <p>Mail: hello@pizzapp.com</p>
    <button class="btn btn-danger btn-lg">@Html.ActionLink("Feedback", "Feedback", "Home")</button>
</div>
