@model Sedc.Todo.WebApp.Models.Todo
<li>
    <div>
        <span>Title:&nbsp;</span>
        <span>@Model.Title</span>
    </div>
    <div>
        <span>Description:&nbsp;</span>
        <span>@Model.Description</span>
    </div>
    <div>
        <span>Due date:&nbsp;</span>
        <span>@Model.DueDate</span>
    </div>
</li>